---
import '../styles/global.css'

export interface Props {
	title: string;
	image: string;
	body: string;
	href: string;
	tech: string[];
}

const { title, href, image, body, tech } = Astro.props;
---

<article class="project-card">
	<a class="project-card-link" href={href} target="_blank">
		<section class="project-card-text">
			<div class="project-card-tech">
				{
					tech.map((t, index) => {
						return (<p>{t}</p>)
					})
				}
			</div>
			<h2>{title}</h2>
			<p>{body}</p>
		</section>
		<div class="project-card-image">
			<img src={image} alt="portfolio image">
		</div>
	</a>
</article>


<style>
	.project-card {
		padding: 1rem;
		height: 200px;
		background-color: var(--main);
		background-image: none;
		border-radius: 0.6rem;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);

		animation: 0.5s ease-in-out 0s 1 slideInFromLeft;


	}

	.project-card-link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		text-decoration: none;
		gap: 1rem;
		padding: 1rem;
		background-color: var(--main);
		opacity: 0.8;
	}

	.project-card:hover  {
		border: 4px solid var(--highlight);
		transition: 0.1s ease-in-out;
	}
	
	.project-card-link:hover img {
		transform: rotate(3deg) scale(1.1);
	}

	@keyframes slideInFromLeft {
		0% {
			transform: translateX(200%);
		}
		100% {
			transform: translateX(0);
		}
	}

	.project-card-text {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.project-card-text h2 {
		color: var(--headline);
		margin: 0;
		font-size: 1.6rem;
	}

	.project-card-text p {
		color: var(--paragraph);
		margin: 0;
	}

	.project-card-tech {
		display: flex;
		gap: 0.25rem;
	}

	.project-card-tech p{
		font-size: 0.7rem;
		background-color: var(--highlight);
		padding: 0.3rem;
		border-radius: 4px;
		color: var(--secondary);
		font-weight: 700;
	}

	.project-card-image img {
		object-fit: cover;
		height: 100%;
		width: 200px;
		border: 8px solid white;
		border-bottom-width: 20px;
		transition: 200ms ease-in-out;
	}

	@media screen and (max-width: 699px) {
		.project-card-image {
			display: none;
		}
	}

</style>
